<!-- <h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="tw-p-3">
    <input type="file" (change)="onFileSelected($event)">
    <div *ngIf="uploadedPercent >= 0">
        <span *ngIf="uploadedPercent < 100">Đã tải lên: {{ uploadedPercent }}%</span>
        <mat-progress-bar mode="determinate" [value]="uploadedPercent"></mat-progress-bar>
    </div>
    <div class="tw-flex tw-justify-end tw-gap-3">
        <button mat-button color="warn" type="button" mat-dialog-close>Hủy</button>
        <button mat-raised-button color="primary" type="submit">
          Lưu
        </button>
      </div>
</mat-dialog-content>

 -->
