<mat-nav-list>

  <h3 class="text-center text-uppercase fw-bold" matLine>
    <i class="fa-solid fa-file-import"></i>
    Nhập kho
  </h3>
  <a mat-list-item (click)="openImportInventoriesDialog()">
    <span class="ms-1" matListItemTitle>Nhập thủ công</span>
  </a>
  <a mat-list-item (click)="openImportInventoriesFromFileDialog()">
    <span class="ms-1" matListItemTitle>Nhập từ file</span>
  </a>

  <mat-divider></mat-divider>

  <h3 class="text-center text-uppercase fw-bold mt-2" matLine>
    <i class="fa-solid fa-file-import"></i>
    Xuất kho
  </h3>
  <a mat-list-item (click)="openExportInventoriesDialog()">
    <span class="ms-1" matListItemTitle>Xuất thủ công</span>
  </a>
  <a mat-list-item (click)="openExportInventoriesFromFileDialog()">
    <span class="ms-1" matListItemTitle>Xuất từ file</span>
  </a>

</mat-nav-list>


