<div class="form-floating mb-3">
    <input
      type={{ type }}
      [formControl]="control"
      class="form-control"  
      placeholder="{{ label }}" 
      [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'valid' : null"
      >
    <label for="floatingInput">{{ label }}</label>
    <div *ngIf="control.errors?.['required']" class="invalid-feedback">*{{ label }} is required</div>
    <div *ngIf="control.errors?.['email']" class="invalid-feedback">*Invalid email</div>          
  </div>