<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="tw-p-3">
    <form [formGroup]="addBookForm" class="tw-p-4 tw-w-full" (ngSubmit)="addNewBook()">

        <app-mat-text-input label="Tiêu đề" formControlName="title"></app-mat-text-input>
        <app-text-area label="Mô tả sách" formControlName="description"></app-text-area>
        <app-mat-text-input label="Giá" formControlName="price"></app-mat-text-input>
        <app-mat-text-input lable="Ảnh minh họa" formControlName="imageUrl"></app-mat-text-input>

        <!-- <div class="tw-flex tw-justify-between tw-w-full tw-gap-3">
          <app-select-input
            [label]="'Thể loại sách'"
            [options]="genreOptions.name"
          >
          </app-select-input>
        </div> -->

    </form>
</mat-dialog-content>
