<div class="tw-mt-2">
  <div class="tw-container tw-d-flex tw-justify-content-between tw-align-items-center">
    <div class="tw-fs-2 tw-fw-semibold tw-mt-4 tw-text-uppercase">
      Thể loại sách
    </div>
    <div class="tw-mt-2 tw-d-flex">
      <input
        (keyup.enter)="onSearch()"
        [(ngModel)]="searchTerm"
        type="text"
        class="tw-form-control tw-me-2"
        placeholder="Nhập từ khóa..."
        style="width: 300px;"
      >
      <button (click)="onSearch()" class="tw-btn tw-btn-secondary tw-mx-2">Tìm kiếm</button>
      <button (click)="onReset()" class="tw-btn tw-btn-danger"><i class="fa-solid fa-rotate-left"></i></button>
    </div>
    <div (click)="openImportGenresDialog()" class="tw-d-flex tw-justify-content-between">
      <button class="tw-btn tw-btn-success tw-mt-3">
        <i class="fa fa-upload"></i>
        <i class="fa fa-book tw-me-1"></i>
        Thêm từ file
      </button>
      <button (click)="openAddNewGenreDialog()" class="tw-btn tw-btn-success tw-mt-3">
        <i class="fa fa-plus"></i>
        <i class="fa fa-p tw-me-1"></i>
        Thêm thể loại sách
      </button>
    </div>
  </div>
</div>

<app-custom-table
  [columns]="columns"
  [dataSource]="genreList"
  [actions]="actions"
  [totalItems]="totalGenres"
  [pageSize]="adminGenreParams.pageSize"
  (pageChange)="onPageChange($event)"
>
</app-custom-table>
