<h2 class="text-center text-uppercase fw-bold mt-3" mat-dialog-title>{{ data.title }}</h2>
<div mat-dialog-content>
  <table mat-table [dataSource]="rowArr" class="mat-elevation-z8">
    <ng-container matColumnDef="stt">
      <th mat-header-cell *matHeaderCellDef>STT</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Tiêu đề sách</th>
      <td mat-cell *matCellDef="let element" [formGroup]="element.formGroup">
        <input matInput formControlName="title">
      </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Số lượng nhập</th>
      <td mat-cell *matCellDef="let element" [formGroup]="element.formGroup">
        <input matInput formControlName="quantity">
      </td>
    </ng-container>
    <ng-container matColumnDef="store">
      <th mat-header-cell *matHeaderCellDef>Cửa hiệu</th>
      <td mat-cell *matCellDef="let element" [formGroup]="element.formGroup">
        <input matInput formControlName="store">
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Ngày nhập</th>
      <td mat-cell *matCellDef="let element" [formGroup]="element.formGroup">
        <input matInput formControlName="date" type="date">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="headerTitle"></tr>
    <tr mat-row *matRowDef="let row; columns: headerTitle;"></tr>
  </table>
  <button mat-button (click)="addRow()">Thêm dòng</button>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close>Hủy</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Cất</button>
</div>

