<h2 mat-dialog-title>{{data.title}}</h2>
<form (ngSubmit)="onSubmit()">
  <mat-dialog-content class="tw-p-3">
    <input type="file" (change)="onFileSelected($event)">
    <div *ngIf="uploadedPercent > 0">
        <span *ngIf="uploadedPercent < 100">Đã tải lên: {{ uploadedPercent }}%</span>
        <mat-progress-bar mode="determinate" [value]="uploadedPercent"></mat-progress-bar>
    </div>
    <div class="tw-flex tw-justify-end tw-gap-3 mt-2">
        <button mat-button color="warn" type="button" mat-dialog-close>Hủy</button>
        <button mat-raised-button color="primary" type="submit">
          Lưu
        </button>
     </div>
     <div *ngIf="errorsList.length > 0" class="mt-3">
      <h2 mat-dialog-title class="text-danger text-uppercase fst-italic">* Thông tin lỗi:</h2>

      <app-custom-table
        [columns]="columns"
        [dataSource]="errorsList"
        [isErrorData]="errorsList.length > 0"
      >
      </app-custom-table>

    </div>
    </mat-dialog-content>
</form>







