<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Đăng tài khoản Libri</h1>
        </div>
        
        <app-input-text [formControl]="registerForm.controls['username']" [label]="'Tên người dùng'"></app-input-text>
        <app-input-text [formControl]="registerForm.controls['email']" [label]="'Email'" type="email"></app-input-text>
        <app-input-text [formControl]="registerForm.controls['password']" [label]="'Mật khẩu'" type="password"></app-input-text>
        <app-input-text [formControl]="registerForm.controls['confirmPassword']" [label]="'Xác nhận mật khẩu'" type="password"></app-input-text>
        <app-input-text [formControl]="registerForm.controls['phoneNumber']" [label]="'Số điện thoại'"></app-input-text>
        
        <ul class="text-danger list-unstyled" *ngIf="errors">
          <li *ngIf="let error of errors">
            {{ error }}
          </li>
        </ul>
        <div class="d-grid">
          <button [disabled]="registerForm.invalid" class="btn btn-lg mt-3" type="submit" style="color: black;background-color: orange;">Đăng ký</button>
          <p class="ms-5 small fw-bold mt-2 pt-1 mb-0">
            <span>Bạn đã có tài khoản Libri?</span>
            <a routerLink="/login" class="link-danger ms-2" style="font-style: italic;">Đăng nhập tại đây</a>
          </p>
        </div>
      </form>
    </div>
  </div>