<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="tw-p-3">
  <form [formGroup]="addGenreForm" class="tw-p-4 tw-w-full" (ngSubmit)="addNewGenre()">
      
    <app-text-input label="Tên thể loại sách" formControlName="name"></app-text-input>

    <div class="tw-flex tw-justify-end tw-gap-3">
      <button mat-button color="warn" type="button" mat-dialog-close>Hủy</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="addGenreForm.invalid">
        Lưu
      </button>
    </div>
  </form>
</mat-dialog-content>