<div class="bg-light px-4 py-3 text-uppercase fw-bold">
  Ước tính giỏ hàng
</div>
<div class="py-4">
  <p class="fw-bold text-danger">*Phí giao sách sẽ tính dựa theo dịch vụ</p>
  <p class="fst-italic text-muted mb-4">Tổng thanh toán sẽ được tính dựa trên lựa chọn ở mục thanh toán</p>
  <ul class="list-unstyled mb-4" *ngIf="basketService.basketTotal$| async as basketTotals">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Tổng tiền tạm tính</strong>
      <strong>{{ basketTotals.subtotal | currency:'VND' }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Phí giao sách</strong>
      <p>Sẽ tính phí giao hàng dựa vào vị trí</p>
      <strong>{{ basketTotals.shipping | currency:'VND' }}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Thành tiền</strong>
      <strong>{{ basketTotals.total | currency:'VND' }}</strong>
    </li>
  </ul>
</div>
