<div class="tw-min-h-screen">
    <mat-tab-group
        [(selectedIndex)]="selectedTabIndex"
        (selectedTabChange)="onTabChange($event)"
        class="tw-bg-white"
        mat-stretch-tabs="false"
    >
        <mat-tab label="SÁCH">

            <app-admin-book></app-admin-book>

        </mat-tab>
        <mat-tab label="TÁC GIẢ">

            <app-admin-author></app-admin-author>

        </mat-tab>
        <mat-tab label="THỂ LOẠI">

            <app-admin-genre></app-admin-genre>

        </mat-tab>
        <mat-tab label="NHÀ XUẤT BẢN">

            <app-admin-publisher></app-admin-publisher>

        </mat-tab>
        <mat-tab label="QUẢN LÝ KHO">

          <app-admin-inventory></app-admin-inventory>

      </mat-tab>
        <mat-tab label="ĐƠN ĐẶT SÁCH">

            <app-admin-order></app-admin-order>

        </mat-tab>
    </mat-tab-group>
</div>
