<div class="form-floating mb-3">
  <input
    [type]="type"
    [formControl]="control"
    placeholder="{{label}}"
    class="form-control"
    [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
  >
  <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
  <label *ngIf="!isTableInput" for="floatingInput">{{label}}</label>
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">* Vui lòng điền {{label}}</div>
  <div *ngIf="control.errors?.['email']" class="invalid-feedback">* Email không hợp lệ</div>
  <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">* Mật khẩu phải có ít nhất chữ thường, chữ hoa, số và ký tự đặc biệt</div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">* Email đã được sử dụng</div>
  <div *ngIf="control.errors?.['bookExists']" class="invalid-feedback">* Sách không tồn tại trong kho</div>
  <div *ngIf="control.errors?.['isMatching']" class="invalid-feedback">* Mật khẩu không trùng khớp</div>
  <div *ngIf="control.errors?.['min']" class="invalid-feedback">* {{label}} phải ít nhất là 1</div>
</div>
