<div class="p-4">
  <table class="w-100 bg-white">
    <thead>
      <tr class="border-bottom">
        <th *ngFor="let column of columns" class="py-2 px-4 text-start bg-warning text-center">{{ column.header }}</th>
        <th class="py-2 px-4 text-start bg-warning text-center" *ngIf="actions.length"><i class="fa-solid fa-grip"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataSource" class="border-bottom">
        <td *ngFor="let column of columns" class="py-2 px-4">
          <div *ngIf="column.haveImage" class="d-flex">
            <img src="{{ row[column.field[1]] }}" alt="book image" style="width: 50px; height: auto;">
            <span>{{ row[column.field[0]] }}</span>
          </div>
          {{ getCellValue(row, column) }}
        </td>
        <td class="py-2 px-4" *ngIf="actions.length">
          <div class="d-flex gap-2">
            <ng-container *ngFor="let action of actions">
              <button
                mat-icon-button
                matTooltip="{{ action.tooltip }}"
                [disabled]="action.disabled ? action.disabled(row) : false"
                (click)="onAction(action.action, row)">
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator 
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[8, 12, 16, 20]"
    (page)="onPageChange($event)"
    class="mt-4 bg-white"
  >
  </mat-paginator>
</div>