.gradient-custom {
    /* fallback for old browsers */
    background: #f5f5f5f5;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(234, 231, 237), rgb(240, 242, 244));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(238, 236, 241), rgb(237, 238, 241))
    }