<div class="space-y-4 rounded-lg border border-gray-200 bg-white shadow-sm">
    <form #form="ngForm" (ngSubmit)="applyCouponCode()" class="space-y-2 flex flex-col p-2">
        <label class="mb-2 block text-sm font-mediem">
            Bạn có mã giảm giá?
        </label>
        <div class="flex justify-between items-center"> //*ngIf="cartService.cart()?.coupon as coupon"
            <span class="text-sm font-semibold">HeHUdadad applied</span>
            <button
                (click)="removeCouponCode()" 
                mat-icon-button
            >
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Mã giảm giá</mat-label>
            <input 
                name="code" 
                type="text" 
                matInput
            >
            <!-- [disabled]="!!cartService.cart()?.coupon"
                [(ngModel)]="code"  -->
        </mat-form-field>

        <button 
            type="submit" 
            mat-flat-button>Áp dụng</button>
            <!-- [disabled]="!!cartService.cart()?.coupon" -->
    </form>
</div>